<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>2game5me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">2game5me</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <li class="<%= 'active' if current_page?(games_path) %>">
                <%= link_to "Games", games_path %>
              </li>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li class="<%= 'active' if current_page?(edit_user_registration_path) %>"><%= link_to "Profile", edit_user_registration_path %></li>
              <% end %>
              <% if user_signed_in? %>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li class="<%= 'active' if current_page?(new_user_registration_path) %>"><%= link_to "New User", new_user_registration_path %></li>
                <li class="<%= 'active' if current_page?(new_user_session_path) %>"><%= link_to "Login", new_user_session_path %></li>
              <% end %>
          </ul>

        </div>
      </div>
    </div>


    <div class="container">
      <%= render 'layouts/flash_messages' %>
      <%= yield %>
    </div>

</html>
